/*
    red: #C0094B
    black: #000000
    gray: #1A1A1A
*/

body {
    background-color: #000000;
    color: #FFFFFF;
}

.nav-link {
    color: #C0094B;

    :active {
        color: #DDDDDD;
    }
}

/* News section */
.news {
    background-color: #1A1A1A;
    /* Darker shade of black for section background */
}


.news .btn-primary {
    background-color: #C0094B;
    border-color: #C0094B;
    color: #FFFFFF;
}

.news .btn-primary:hover {
    background-color: #FF0000;
    border-color: #FF0000;
}


.news article h4 a {
    color: #C0094B;
    /* Guards Red - Article title link */
}

/* Additional elements (can be adjusted further based on your needs) */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #FFFFFF;
    /* White - Headings */
}

a {
    color: #C0094B;
    /* Guards Red - Link color */
    text-decoration: none;
}

a:hover {
    color: #FF0000;
    /* Red - Link hover color */
}