/*
    red: #C0094B
    black: #000000
    gray: #1A1A1A
*/

body {
    background-color: #000000;
    color: #FFFFFF;
    font-size: large;
}

.navbar{
    height: 4.5rem!important;
    font-size: larger;
}

.bg-highlight{
    background-color: #1A1A1A;
    border-radius: 10px;
}


.nav-link {
    color: #C0094B;

    :active {
        color: #DDDDDD;
    }
}

.news .btn-primary {
    background-color: #C0094B;
    border-color: #C0094B;
    color: #FFFFFF;
}

.news .btn-primary:hover {
    background-color: #FF0000;
    border-color: #FF0000;
}


.news article h4 a {
    color: #C0094B;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #FFFFFF;
}

a {
    color: #C0094B;
    text-decoration: none;
}

a:hover {
    color: #FF0000;
}