/*
    red: #C0094B
    black: #000000
    gray: #1A1A1A
*/

body {
    background-color: #000000;
    color: #FFFFFF;
    font-size: large;
}

section {
    margin-bottom: 1rem;
}

img{
    border-radius: 10px;
}


.bg-highlight {
    background-color: #1A1A1A;
    border-radius: 10px;
}


.nav-link {
    color: #C0094B;

    :active {
        color: #DDDDDD;
    }
}

nav ul{
    border-radius: 10px;
}

.btn-primary {
    background-color: #C0094B;
    border-color: #C0094B;
    color: #FFFFFF;
    min-width: 100%;
}

.btn-primary:hover {
    background-color: #FF0000;
    border-color: #FF0000;
}


.news article h4 a {
    color: #C0094B;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #FFFFFF;
}

a {
    color: #C0094B;
    text-decoration: none;
}

a:hover {
    color: #FF0000;
}

.info-card{
    padding: 1rem;
}

.info-card h2 {
    text-align: center;
    color: #C0094B;
}


@media (min-width: 768px) {
    .info-card h2{
        text-align: left;
    }
}

@media (min-width: 768px) {
    .navbar {
        height: 4.5rem;
        font-size: large;
    }
}

@media (min-width: 768px) {
    .btn-primary {
        font-size: large;
    }
}

